.images__container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image__block {
    width: 24%;
    margin: 5px;
}

.image__style {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}
@media screen and (max-width:1100px) {
    .image__block {
        width: 30% !important;
    }
}

@media screen and (max-width:400px) {
    .image__block {
        width: 44%;
    }
}

